.bitbtn {
    position: relative;
    padding: .40em .78em .55em 0.78em;
    line-height: 1.5;
    display: inline-block;

    cursor: pointer;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    text-decoration: none;

    border-radius: 1.5em;
    background-color: #007bff;
    color: #fff;
}

.bitbtn.hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

.bitbtn span {
    margin: 0 0.15em;
    vertical-align: middle;
}

@-webkit-keyframes bitbtn-spinner{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes bitbtn-spinner{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}

.bitbtn .status-circle {
    width: 0.5em;
    height: 0.5em;
    margin-right: 4px;

    display: inline-block;
    vertical-align: text-bottom;

    border: .2em solid transparent;
    border-color: transparent;
    background-color: white;
    border-radius: 50%;

    -webkit-animation: none;
    animation: none;
}

.bitbtn .status-circle.loading {
    border: .2em solid currentColor;
    border-right-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    -webkit-animation: bitbtn-spinner .75s linear infinite;
    animation: bitbtn-spinner .75s linear infinite;
}

.bitbtn .status-circle.success {
    border-color: transparent;
    background-color: #00FF84;
}

.bitbtn .status-circle.error {
    border-color: transparent;
    background-color: #FF0400;
}

.bitbtn .bitbtn-amount {
    font-size: 11px;
    display: inline-block;
    background: #ffffff50;
    border-radius: 10%;
    padding: 0 4px;
    margin: 0 2px;
}

.bitbtn .bitbtn-amount:empty {
    margin: 0;
    padding: 0 1px 0 0;
}

.bitbtn .bitbtn-not-work {
    background: #ddd;
    text-align: center;
    color: black;
    display: none;
    position: absolute;
    left: 0;
    top: 3em;
    padding: 10px;
    width: 100%;
}

.bitbtn .bitbtn-not-work.show {
    display: block;
}

.bitbtn .small-text,
.bitbtn-modal-container .small-text {
    font-size: 0.8em;
}

.bitbtn-modal-container {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2147483647;
    /*max value*/
    padding-top: 100px;
    overflow: auto;
}

/* Modal Content */
.bitbtn-modal-container .modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 500px;
    height: 700px;
    max-width: 70%;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bitbtn-modal-container .modal-header {
    display: block;
    background-color: #e6e6e6;
    position: sticky;
    top: 0;
}

.bitbtn-modal-container .modal-header button {
    padding: 10px;
    background-color: #d1d1d1;
    border: 0px none;
    margin: none;
}

.bitbtn-modal-container .modal-header:hover button:hover {
    background-color: #b9b9b9;
}

.bitbtn-modal-container .modal-header button.selected {
    background-color: #b9b9b9;
}

.bitbtn-modal-container .modal-content .modal-body {
    padding: 20px;
}

/* The Close Button */
.bitbtn-modal-container .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.bitbtn-modal-container .close:hover,
.bitbtn-modal-container .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bitbtn-modal-container .wallet-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.bitbtn-modal-container .wallet-list .wallet-item {
    display: inline-block;
    border: 3px ridge black;
    padding: 1em 2em;
    margin: 3px;
    text-align: center;
}

.bitbtn-modal-container .wallet-list .wallet-item:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#96c8c8+0,96c8c8+100&0+0,1+65,0+67 */
    background: -moz-linear-gradient(-45deg, rgba(150, 200, 200, 0) 0%, rgba(150, 200, 200, 1) 65%, rgba(150, 200, 200, 0) 67%, rgba(150, 200, 200, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(150, 200, 200, 0) 0%, rgba(150, 200, 200, 1) 65%, rgba(150, 200, 200, 0) 67%, rgba(150, 200, 200, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(150, 200, 200, 0) 0%, rgba(150, 200, 200, 1) 65%, rgba(150, 200, 200, 0) 67%, rgba(150, 200, 200, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096c8c8', endColorstr='#0096c8c8', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

.bitbtn-modal-container .wallet-list .wallet-item img {
    height: 3em;
}